<table>
<tr><th colspan="2">Estadísticas</th></tr>
<tr><td><font color=brown>&nbsp;Num. Preguntas&nbsp;</font></td><td style="text-align:center">&nbsp;<%= statistics.num_quizes %>&nbsp;</td> </tr>
<tr><td>
    <font color=brown>&nbsp;Num. Comentarios&nbsp;</font></td><td style="text-align:center">&nbsp;<%= statistics.num_comments %>&nbsp;
    <%if(statistics.num_with_comments_not_published){%>
    <font color=red>(<%= statistics.num_with_comments_not_published %>)*&nbsp;</font>
    <%}%>
    </td>
</tr>
<tr><td><font color=brown>&nbsp;Media Comentarios&nbsp;</font></td><td style="text-align:center">&nbsp;<%= statistics.average %>&nbsp;</td></tr>
<tr><td><font color=brown>&nbsp;Num. Con comentarios&nbsp;</font></td><td style="text-align:center">&nbsp;<%= statistics.num_with_comments %>&nbsp;</td></tr>
<tr><td><font color=brown>&nbsp;Num. Sin comentarios&nbsp;</font></td><td style="text-align:center">&nbsp;<%= statistics.num_without_comments %>&nbsp;</td></tr>
</table>
<%if(statistics.num_with_comments_not_published){%>
<font color=red>&nbsp;* comentarios pendientes de publicar&nbsp;</font>
<%}%>
